<!DOCTYPE html>
<html>
    
<head>

    <title>limbo-zone</title>

    <meta charset="UTF-8">
    <meta name="description" content="wander off too far, and you may discover a new friend (or foe)">
    <meta name="keywords" content="art, worldbuilding">
    <meta name="author" content="Eva Yannes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="https://limbo-zone.nekoweb.org/images/zoneIcon.png" property="og:image" />
    <meta content="#799E85" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="https://limbo-zone.nekoweb.org/style.css">
    <link rel="icon" type="image/x-icon" href="https://limbo-zone.nekoweb.org/images/zoneIcon.png">

</head>

<body>

    <div id="headerArea">

        <div id="header" style="height: 200px;" align="center">
            <a href="https://limbo-zone.nekoweb.org/"><img src="https://limbo-zone.nekoweb.org/images/limboZoneTitle.png" alt="limbo-zone" style="position: relative; top:20%; mix-blend-mode: overlay;"></a>
        </div>

        <nav class="topnav" id="navbar">
            <a href="https://limbo-zone.nekoweb.org/newsletter/index.html">newsletter</a>
            <a href="https://limbo-zone.nekoweb.org/guidelines/index.html">guidelines</a>
            <a href="https://limbo-zone.nekoweb.org/entities/index.html">entities</a>
            <a href="https://limbo-zone.nekoweb.org/newsletter/index.html">zones</a>
            <a href="javascript:void(0);" class="collapseIcon" onclick="navbarCollapse()"><img src="https://limbo-zone.nekoweb.org/images/zoneIcon.png" width="35px"></a>
            </ul>
        </nav>
        <script src="navbarCollapse.js"></script>

    </div>

    <main> 
        <!--# block name="content" -->
        <p>No content provided!</p>
        <!--# endblock -->
    </main>  

    <footer id="footer" style="margin-top: 0px;">
        <p>
            <a href="https://limbo-zone.nekoweb.org/faq.html">faq</a>
             . 
            <a href="https://toyhou.se/~world/247198.limbo-zone">toyhou.se</a>
             . 
            <a href="https://discord.gg/W9p4stBaBJ">discord</a>
             . 
            <a href="mailto:gutsbug@disroot.org">contact</a>
             . 
            <a href="https://limbo-zone.nekoweb.org/credits.html">credits</a>
            <br><small>CC BY-SA, 2026</small>
        </p>
        
    </footer> 

</body>

</html>  